.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    margin-top: 98px;
    flex: 1;
    display: flex;
    flex-direction: row;
}
h1, h2, h3, h4, h5{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
.lead{
    font-size: 22px;
    font-weight: 400;
    margin: 40px 0;
}